<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basicapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="Asset Management"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".BarcodeScannerShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasicApplication.NoActionBar.PoppinsMedium"/>
        <activity
            android:name=".HomeNavigation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasicApplication.NoActionBar.PoppinsMedium" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BasicApplication.NoActionBar.PoppinsMedium" />
        <activity android:name=".AllAssetActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".ConfirmationSOActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".AssetSOActivity" />
        <activity
            android:name=".SuccessActivity"
            android:theme="@style/Theme.BasicApplication.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.BasicApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>